<%= image_tag 'logo-on-white.png', :size => '136x37', :class => 'logo' %>
<h1>System Compatibility Test</h1>

<div class="row">
  <div class="col-md-6 table-responsive">
    <h4>ActionCable</h4>
    <table class="table test-table">
      <tbody id="ac-tests" class="tests">
        <noscript>
          <tr class="red">
            <td><svg width="24" height="24"><circle cx="50%" cy="50%" r="50%"/></svg></td>
            <td><p>JavaScript is turned off</p></td>
          </tr>
        </noscript>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 table-responsive">
    <h4>Socket.IO</h4>
    <table class="table test-table">
      <tbody id="sio-tests" class="tests">
        <noscript>
          <tr class="red">
            <td><svg width="24" height="24"><circle cx="50%" cy="50%" r="50%"/></svg></td>
            <td><p>JavaScript is turned off</p></td>
          </tr>
        </noscript>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 browser-report">
  </div>
</div>
